Container {
    margin: 1;
}

#id_workspace_row, #id_name_row, #id_source_row {
    height: auto;
}

#id_workspace_row Link {
    margin-top: 0;
    margin-right: 1;
}

#id_Loop {
    height: auto;
    align: center middle;
}

#id_Loop Button {
    margin: 1 5;
}

#id_items {
    height: 10;
    overflow-y: scroll;
}

#id_log_container {
    align: left top;
}

#id_log {
    /* height: 10; */
}

AboutModal {
    align: center middle;
}

#id_about_dialog {
    width: auto;
    height: auto;
    padding: 2 4;
    background: $surface;
    border: thick $primary;
    align: center middle;
}

#id_about_ok {
    margin-top: 1;
}
